.container{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

img{
  text-align: center;
  width: 300px;
  margin-bottom: 50px;
}

h2{
}
