h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 6rem;
  margin: 8rem;
}


wpj-project-card {
  display: block;
  width: 100vw;
  margin: 3rem;
  margin-bottom: 100px;
  z-index: 10;
}

:host{
  display: block;
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 1;

  .content {
    z-index: 1;
    background-color: #001022;
    transform: rotate(-30deg);
    position: absolute;
    top: -60vh;
    right: -100vw;
    width: 150vw;
    height: 250%;
  }
}

@media screen and (max-width: 450px) {

  h1{
    font-size: 3.5rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
  }

  wpj-project-card{
    margin: 0.5rem;
  }

  .container{
    .content{
      display: none;
    }
  }
}
